h1 {
    background-color: $tealcolor;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    width: 100%;
  }
  #navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #38A1F3 ;
    background: linear-gradient(to left, #38A1F3 , #ffffff);
    color: #FFF;
    height: 50px;
    padding: 1em;
    position: sticky;
  }
  #logo span{
    position: relative;
    top: -20px;
    font-weight:bold;
    font: italic bold 24px/60px Georgia, serif;
    color: #38a1f3;
}
.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.menu > li {
  margin: 0 1rem;

}
.menu a{
    color: white;

}
.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.button__badge {
  background-color: #3f5272;
  border-radius: 2px;
  color:#fff;
 
  padding: 1px 3px;
  font-size: 15px;
  
  top: 0;
  right: 0;
}